<!doctype html>
<html class="minimal">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{#ifCond model.name '===' project.name}}{{else}}{{model.name}} | {{/ifCond}}{{project.name}}</title>
	<meta name="description" content="{{#ifCond model.name '===' project.name}}glTF 2.0 SDK for JavaScript, TypeScript, and Node.js.{{else}}Documentation for {{model.name}} in {{project.name}}, a glTF 2.0 SDK for JavaScript, TypeScript, and Node.js.{{/ifCond}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="referrer" content="no-referrer-when-downgrade" />

	<meta property="og:site_name" content="xeokit-sdk" />
	<meta property="og:title" content="{{#ifCond model.name '===' project.name}}{{else}}{{model.name}} | {{/ifCond}}{{project.name}}" />
	<meta property="og:description" content="{{#ifCond model.name '===' project.name}}glTF 2.0 SDK for JavaScript, TypeScript, and Node.js.{{else}}Documentation for {{model.name}} in {{project.name}}, a glTF 2.0 SDK for JavaScript, TypeScript, and Node.js.{{/ifCond}}" />
	<meta property="og:url" content="https://gltf-transform.xeolabs.com/{{url}}" />
	<meta name="og:image" content="https://gltf-transform.xeolabs.com/media/hero.jpg" />
	<meta name="og:image:alt" content="Function symbol, f(📦) → 📦, where the argument and output are a box labeled 'glTF'." />
	<meta name="og:image:width" content="2000" />
	<meta name="og:image:height" content="1000" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{#ifCond model.name '===' project.name}}{{else}}{{model.name}} | {{/ifCond}}{{project.name}}" />
	<meta name="twitter:description" content="{{#ifCond model.name '===' project.name}}glTF 2.0 SDK for JavaScript, TypeScript, and Node.js.{{else}}Documentation for {{model.name}} in {{project.name}}, a glTF 2.0 SDK for JavaScript, TypeScript, and Node.js.{{/ifCond}}" />
	<meta name="twitter:url" content="https://gltf-transform.xeolabs.com/{{url}}" />
	<meta name="twitter:image" content="https://gltf-transform.xeolabs.com/media/hero.jpg" />
	<meta name="twitter:image:alt" content="Function symbol, f(📦) → 📦, where the argument and output are a box labeled 'glTF'." />
	<meta name="twitter:label1" content="Written by" />
	<meta name="twitter:data1" content="xeolabs" />
	<meta name="twitter:creator" content="@xeolabs" />

	<link rel="stylesheet" href="/assets/css/main.css"></link>
</head>
<body>

{{> header}}

<nav class="tsd-navigation secondary">
	<h4>Introduction</h4>
	<ul>
		<li class="tsd-kind-namespace">
			<a href="/" class="tsd-kind-icon{{#ifCond url '===' 'index.html'}} active{{/ifCond}}">
				Home
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="/modules/pages.concepts.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/pages.concepts.html'}} active{{/ifCond}}">
				Concepts
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="/modules/pages.viewer.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/pages.viewer.html'}} active{{/ifCond}}">
				Viewer
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="/modules/pages.plugins.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/pages.plugins.html'}} active{{/ifCond}}">
				Plugins
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="/modules/pages.converter.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/pages.converter.html'}} active{{/ifCond}}">
				Converter
			</a>
		</li>
        <li class="tsd-kind-namespace">
            <a href="/modules/pages.bimviewer.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/pages.bimviewer.html'}} active{{/ifCond}}">
                BIMViewer
            </a>
        </li>
		<li class="tsd-kind-namespace">
			<a href="/modules/pages.contributing.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/pages.contributing.html'}} active{{/ifCond}}">
				Contributing
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="/modules/pages.credits.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/pages.credits.html'}} active{{/ifCond}}">
				Credits
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="https://github.com/xeokit" target="_blank" class="tsd-kind-icon">GitHub</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="https://www.npmjs.com/search?q=%40xeokit" target="_blank" class="tsd-kind-icon">NPM</a>
		</li>
<!--		<li class="tsd-kind-namespace">-->
<!--			<a href="https://github.com/xeolabs/xeokit-sdk/blob/main/CHANGELOG.md" target="_blank" class="tsd-kind-icon">Changelog</a>-->
<!--		</li>-->
	</ul>

    <h2>Viewer</h2>

    <h4>Viewer</h4>
    <ul>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.viewer.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.viewer.html'}} active{{/ifCond}}">
                Viewer
            </a>
        </li>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.localeservice.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.localeservice.html'}} active{{/ifCond}}">
                LocaleService
            </a>
        </li>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.webglrenderer.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.webglrenderer.html'}} active{{/ifCond}}">
                WebGLRenderer
            </a>
        </li>
    </ul>

    <h4>Representation</h4>
    <p>Model representation in a viewer</p>
    <ul>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.scene.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.scene.html'}} active{{/ifCond}}">
                Scene
            </a>
        </li>
        <li class="tsd-kind-class">
            <a href="/interfaces/packages_viewer_src.scenemodel.html" class="tsd-kind-icon{{#ifCond url '===' 'interfaces/packages_viewer_src.scenemodel.html'}} active{{/ifCond}}">
                SceneModel
            </a>
        </li>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.sceneobject.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.sceneobject.html'}} active{{/ifCond}}">
                SceneObject
            </a>
        </li>
    </ul>

    <h4>Semantics </h4>
    <p>Model semantic data in a viewer</p>
    <ul>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.data.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.data.html'}} active{{/ifCond}}">
                Data
            </a>
        </li>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.datamodel.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.datamodel.html'}} active{{/ifCond}}">
                DataModel
            </a>
        </li>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.dataobject.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.dataobject.html'}} active{{/ifCond}}">
                DataObject
            </a>
        </li>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.propertyset.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.propertyset.html'}} active{{/ifCond}}">
                PropertySet
            </a>
        </li>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.property.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.property.html'}} active{{/ifCond}}">
                Property
            </a>
        </li>
    </ul>

	<h4>Views</h4>
    <p><i>Creating multi-canvas views of models</i></p>
	<ul>
		<li class="tsd-kind-class">
			<a href="/classes/packages_viewer_src.view.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.view.html'}} active{{/ifCond}}">
				View
			</a>
		</li>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.viewlayer.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.viewlayer.html'}} active{{/ifCond}}">
                ViewLayer
            </a>
        </li>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.viewObject.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.viewobject.html'}} active{{/ifCond}}">
                ViewObject
            </a>
        </li>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.camera.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.camera.html'}} active{{/ifCond}}">
                Camera
            </a>
        </li>
        <li class="tsd-kind-class">
            <a href="/classes/packages_viewer_src.sectionplane.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/packages_viewer_src.sectionplane.html'}} active{{/ifCond}}">
                SectionPlane
            </a>
        </li>
	</ul>

	<h4>I/O</h4>
	<ul>
		<li class="tsd-kind-class">
			<a href="/classes/core.platformio.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.platformio.html'}} active{{/ifCond}}">
				PlatformIO <em>(Abstract)</em>
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.denoio.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.denoio.html'}} active{{/ifCond}}">
				DenoIO
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.nodeio.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.nodeio.html'}} active{{/ifCond}}">
				NodeIO
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.webio.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.webio.html'}} active{{/ifCond}}">
				WebIO
			</a>
		</li>
	</ul>

	<h4>Properties</h4>
	<ul>
		<li class="tsd-kind-class">
			<a href="/classes/core.property.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.property.html'}} active{{/ifCond}}">
				Property <em>(Abstract)</em>
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.extension.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.extension.html'}} active{{/ifCond}}">
				Extension <em>(Abstract)</em>
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.extensionproperty.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.extensionproperty.html'}} active{{/ifCond}}">
				ExtensionProperty <em>(Abstract)</em>
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.accessor.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.accessor.html'}} active{{/ifCond}}">
				Accessor
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.animation.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.animation.html'}} active{{/ifCond}}">
				Animation
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.animationchannel.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.animationchannel.html'}} active{{/ifCond}}">
				AnimationChannel
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.animationsampler.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.animationsampler.html'}} active{{/ifCond}}">
				AnimationSampler
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.buffer.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.buffer.html'}} active{{/ifCond}}">
				Buffer
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.camera.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.camera.html'}} active{{/ifCond}}">
				Camera
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.material.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.material.html'}} active{{/ifCond}}">
				Material
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.mesh.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.mesh.html'}} active{{/ifCond}}">
				Mesh
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.node.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.node.html'}} active{{/ifCond}}">
				Node
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.primitive.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.primitive.html'}} active{{/ifCond}}">
				Primitive
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.primitivetarget.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.primitivetarget.html'}} active{{/ifCond}}">
				PrimitiveTarget
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.root.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.root.html'}} active{{/ifCond}}">
				Root
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.scene.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.scene.html'}} active{{/ifCond}}">
				Scene
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.skin.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.skin.html'}} active{{/ifCond}}">
				Skin
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.texture.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.texture.html'}} active{{/ifCond}}">
				Texture
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.textureinfo.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.textureinfo.html'}} active{{/ifCond}}">
				TextureInfo
			</a>
		</li>
	</ul>

	<h4>Viewer (Khronos)</h4>
	<ul>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.dracomeshcompression.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.dracomeshcompression.html'}} active{{/ifCond}}">
				DracoMeshCompression
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.lightspunctual.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.lightspunctual.html'}} active{{/ifCond}}">
				LightsPunctual
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.materialsclearcoat.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.materialsclearcoat.html'}} active{{/ifCond}}">
				MaterialsClearcoat
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.materialsemissivestrength.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.materialsemissivestrength.html'}} active{{/ifCond}}">
				MaterialsEmissiveStrength
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.materialsior.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.materialsior.html'}} active{{/ifCond}}">
				MaterialsIOR
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.materialsiridescence.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.materialsiridescence.html'}} active{{/ifCond}}">
				MaterialsIridescence
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.materialspbrspecularglossiness.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.materialspbrspecularglossiness.html'}} active{{/ifCond}}">
				MaterialsPBRSpecularGlossiness
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.materialssheen.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.materialssheen.html'}} active{{/ifCond}}">
				MaterialsSheen
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.materialsspecular.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.materialsspecular.html'}} active{{/ifCond}}">
				MaterialsSpecular
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.materialstransmission.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.materialstransmission.html'}} active{{/ifCond}}">
				MaterialsTransmission
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.materialsunlit.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.materialsunlit.html'}} active{{/ifCond}}">
				MaterialsUnlit
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.materialsvariants.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.materialsvariants.html'}} active{{/ifCond}}">
				MaterialsVariants
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.materialsvolume.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.materialsvolume.html'}} active{{/ifCond}}">
				MaterialsVolume
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.meshquantization.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.meshquantization.html'}} active{{/ifCond}}">
				MeshQuantization
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.texturebasisu.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.texturebasisu.html'}} active{{/ifCond}}">
				TextureBasisu
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.texturetransform.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.texturetransform.html'}} active{{/ifCond}}">
				TextureTransform
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.xmp.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.xmp.html'}} active{{/ifCond}}">
				XMP
			</a>
		</li>
	</ul>

	<h4>Viewer (Vendor)</h4>
	<ul>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.texturewebp.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.texturewebp.html'}} active{{/ifCond}}">
				TextureWebP
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.meshgpuinstancing.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.meshgpuinstancing.html'}} active{{/ifCond}}">
				MeshGPUInstancing
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/viewer.meshoptcompression.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/viewer.meshoptcompression.html'}} active{{/ifCond}}">
				MeshoptCompression
			</a>
		</li>
	</ul>

	<h4>Utilities</h4>
	<ul>
		<li class="tsd-kind-class">
			<a href="/classes/core.bufferutils.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.bufferutils.html'}} active{{/ifCond}}">
				Buffer<wbr>Utils
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.colorutils.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.colorutils.html'}} active{{/ifCond}}">
				Color<wbr>Utils
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.fileutils.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.fileutils.html'}} active{{/ifCond}}">
				File<wbr>Utils
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.imageutils.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.imageutils.html'}} active{{/ifCond}}">
				Image<wbr>Utils
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.logger.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.logger.html'}} active{{/ifCond}}">
				Logger
			</a>
		</li>
	</ul>
</nav>

<div class="container container-main">
	<div class="content-wrap">
		{{#if model.readme}}
			<div class="tsd-panel tsd-typography">
				{{#markdown}}{{{model.readme}}}{{/markdown}}
			</div>
		{{/if}}

		{{{contents}}}
		{{> footer}}
	</div>
</div>

{{> analytics}}

</body>
</html>
